@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Importing the "Poppins" font family with various font weights from Google Fonts */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Global CSS reset to remove padding, margins, and set box-sizing to border-box for all elements */

body{
    background-color: #338cf4;
}
/* Setting the background color for the entire body to #338cf4 (light blue) */

.container{
    background-color: #fff;
    width: 90vmin;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}
/* Styling the main container element with white background, padding, positioning, border-radius, and box-shadow */


.options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}
/* Styling the "options" div that contains buttons and selects, using flexbox for alignment */


button{
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    outline: none;
    color: #020929;
    cursor: pointer;
}
/* Styling for buttons, including size, centering content, background, border, and color */

select{
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
    cursor: pointer;
}
/* Styling for select dropdowns, including padding, border, border-radius, and cursor style */

.options label,
.options select{
    font-family: 'Poppins', sans-serif;
}
/* Setting the font family for labels and select elements inside the "options" div */

input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
}
/* Styling for color inputs, removing default styles, setting size, and cursor style */

input[type="color"]::-webkit-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}
/* Styling for WebKit color swatch, including border-radius and box-shadow */

input[type="color"]::-moz-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}
/* Styling for Mozilla color swatch, including border-radius and box-shadow */

#text-input{
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    height: 50vh;
}
/* Styling for the text input area with margin, border, padding, and height properties */

.active{
    background-color: #e0e9ff;
}
/* Styling for the active state, changing background color to #e0e9ff (light blue) */
